@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
	margin: 0;
	padding: 0;

}

body {
	color: #5119f9;
	font-size: 14px;
	font-family: 'poppins', sans-serif;
	line-height: 1.80857;
	font-weight: normal;
	overflow-x: hidden;
}

.main{
	width: 100%;
	background:#334756; 
	background-position: center;
	background-size: cover;
	height: 109vh;
}



.icon{
	width: 200px;
	float: left;
	height: 70px;
    

}

.logo{
color:#F0A500;
font-size: 35px;
font-family: Arial, Helvetica, sans-serif;
padding-left: 2px;
float: left;
padding-top: 10px;


}

.menu{
	width: 670px;
	float: left;
	height: 70px;
}

ul{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul li{
	list-style: none;
	margin-right: 70px;
	margin-top: 27px;
	font-size: 14px;
}

ul li a{
	text-decoration: none;
	color: #F0A500;
	font-family: Arial;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}

ul li a:hover{
	color: #5119f9;
}

.content{
	width: 1200px;
	height: auto;
	margin: 100px;
	color: #F0A500;
	position:relative;
}
 

.content .par{
	padding-left: 20px;
	padding-bottom: 25px;
	font-family: 'Ariel';
	letter-spacing: 1.2px;
	line-height: 30px;
    font-size:medium ;

}

.content h1{
	font-family: 'Ariel';
	font-size: 50px;
	padding-right: 200px;
	margin-top: 5%;
	letter-spacing: 2px;
    
}

.content .join{
	width: 160px;
	height: 40px;
	background:#082032 ;
	border: none;
	margin-bottom: 10px;
	margin-left: 20px;
	font-size: 18px;
	border-radius: 10px;
	cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');  
 *{  
      padding: 0;  
      margin: 0;  
      box-sizing: border-box;  
      font-family: 'Poppins', sans-serif;  
      color: #F0A500;
 }  
 body{  
      width: 100%;  
      min-height: 100vh;  
      background:#334756 ;  
      display: flex;  
      justify-content: center;  
      align-items: center;  
 }  
 .container{  
      max-width: 400px;  
      width: 100%;  
      box-shadow: 0px 0px 2px #E8E8E8;  
      background: #fff;  
      position: relative;  
 }  
 .container::before{  
      content: "";  
      width: 100%;  
      height: 8px;  
      position: absolute;  
      top: -1px;  
      border-top-left-radius: 3px;  
      border-top-right-radius: 3px;  
      background: #009688;  
 }  
 .container h2{  
      text-align: center;  
      margin-top: 20px;  
 }  
 .container form{  
      width: 100%;  
      padding: 20px 50px;  
 }  
 .container form .box{  
      width: 100%;  
      height: 40px;  
      position: relative;  
      border: 1px solid #DFDFDF;  
      margin: 10px 0px;  
 }  
 .box .input-data,  
 .box .select-data{  
      position: absolute;  
      top: 0;  
      width: 90%;  
      outline: none;  
      border: 1px solid #DFDFDF;  
      height: 100%;  
      right: 0;  
      padding-left: 5px;  
 }  
 .box .select-data{  
      width: 100%;  
 }  
 .box span{  
      position: absolute;  
   top: -1px;  
   left: 0%;  
   font-size: 1.2em;  
   padding: 5px;  
 }  
 .space{  
      margin-top: 15px;  
 }  
 .pay{  
      width: 10%;  
      text-align: center;  
      padding: 10px;  
      outline: none;  
      cursor: pointer;  
      background: #082032;  
      color: #F0A500;  
      font-size: 1em;  
      border: none;  
 }  
 @media (max-width: 424px) {  
      .container form{  
           padding: 20px;  
      }  
 } 
 .container{
	max-width: 400px;  
	width: 100%;  
	box-shadow: 0px 0px 2px #E8E8E8;  
	background: #fff;  
	position:relative;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container::before{
	content: "";  
	width: 100%;  
	height: 8px;  
	position: absolute;  
	top: -1px;  
	border-top-left-radius: 3px;  
	border-top-right-radius: 3px;  
	background: #F0A500;
}
 
.container h2{  
		 text-align: center;  
		 margin-top: 30px;
}  
.container form{  
		 width: 100%;  
		 padding: 20px 50px;  
}  
.container .box{  
		 width: 100%;  
		 height: 40px;  
		 position: relative;  
		 border: 1px solid #DFDFDF;  
		 margin: 10px 0px;   
}
.required {
	color: red;
  }
  .price {
    color: grey;
    font-size: 22px;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .procontainer {
    width: 100%;
    display:inline-table;
  }
  .contain {
    max-width: 960px;
    text-align: center;
  }
  .category {
    position: relative;
    display:inline-table;
    float: left;
    padding: 10px;
  }

 
/*fotter*/
footer {
    text-align: center;
    padding: 8px;
    background-color:#082032;
    color: #F0A500;
    height: auto; 
  }
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #F0A500;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    color: #F0A500;
}
.socials li{
    margin: 10px;
}
.socials li a{
   text-decoration: none;
   color: #F0A500;
   border: 3px solid #F0A500;
   padding: 8px;
   border-radius: 50%;
   width: 35px;

}
header {
    text-align: center;
    padding: 20px;
    background-color: #082032;
    color:white;
    height: auto; 
  }
  .header-content{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.history_lists{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
table{
  background: #fff;
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
}
table td, th{
  padding: 0.2rem 0.8rem;
}
table th{
  font-size: 15px;
}
table td{
  font-size: 13px;
  color: rgb(100, 100, 100);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: rgb(219, 219, 219);
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  background: #fff;
}
.logo{
  display: flex;
  align-items: center;
}
.logo a{
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: 2rem 8rem 2rem 2rem;
}

.header-icons{
  display: flex;
  align-items: center;
}
.header-icons i{
  margin-right: 2rem;
  cursor: pointer;
}
.header-icons .account{
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-icons .account img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.main-body{
  width: 70%;
  padding: 1rem;
}
.promo_card{
  width: 100%;
  color: #fff;
  margin-top: 10px;
  border-radius: 8px;
  padding: 0.5rem 1rem 1rem 3rem;
  background: rgb(37, 37, 37);
}
.promo_card h1, .promo_card span, button{
  margin: 10px;
}
.promo_card button{
  display: block;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.history_lists{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
table{
  background: rgb(37, 37, 37);
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
}
table td, th{
  padding: 0.2rem 0.8rem;
}
table th{
  font-size: 15px;
}
table td{
  font-size: 13px;
  color: rgb(100, 100, 100);
}
